body {
    padding-top: 20px;
    padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
    margin-top: 0;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input  {
    margin-bottom: 14px;
}

input[class*="span"][class*="input-large"], select[class*="span"][class*="input-large"], textarea[class*="span"][class*="input-large"], .uneditable-input[class*="span"][class*="input-large"] {
    height: auto;
}

label {
    font-weight: normal;
}

.vpad12 {
     margin-top: 12px;
}

.vpad6 {
     margin-top: 6px;
}

#value {
    font-size: 142px;
    font-weight: bolder;
    line-height: 160px;
    display: inline;
}

#unit, #unit small p {
    display: inline;
}

#newFormLabel {
    display: inline;
}

.optional {
    margin-bottom: 0px;
}
